<!DOCTYPE html>
<html>
  <head>
    <title>Green</title>
    <link rel="stylesheet" href="resources/css/app.css">
  </head>
  <body>
    @include('components/layouts/partials/header')
    {{{ await $slots.main() }}}
    @include('components/layouts/partials/footer')
    
  </body>
</html>
