<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameStore - Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="#">GameStore</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Promoções</a></li>
                <li><a href="#">Carrinho</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section >
            <h2>Login</h2>
            <form >
                <div>
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div>
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <button type="submit" class="btn">Entrar</button>

            </form>
            <div class="alternativa_login">
                <p>Ainda não tem uma conta? <a href="#">Cadastre-se aqui</a></p>
                <p>Esqueceu a senha ? <a href="#">Clique  aqui</a></p>
            </div>
            

        </section>
    </main>

    <footer>
        <p>&copy; 2024 GameStore. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
