@layouts.app()
  <div>
    <div>
      Nome:
      {{ product.name }}
    </div>
    <div>
      Preço:
      {{product.price}}
    </div>
    <div>
      Descrição:
      {{product.description}}
    </div>
  </div>
  </div>
@end
