<!DOCTYPE html>
<html>
  <head>
    <title>Aula de HTML</title>
  </head>
  <body>
    <nav>
      <a>Produtos</a>
      <a>{{email}}</a>
    </nav>
    <main>
      <div>
        Lista de Produtos
      </div>
      <div>
        <div>Produto A</div>
        <ul>

        </ul>
      </div>
    </main>
  </body>
</html>
